
  <!DOCTYPE html>
  <html>
    <head>
      <title>Feedback Portal</title>
      <link rel = "stylesheet" href = "/static/css/main.css">
      <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    </head>
    <body>
      <div id="header">
        {% include 'header.html' %}        
      <br><p>
      <div class="row">
        <hr style="background:#ff6600 !important;  height: 8px; margin-top: 0px;">
      </div>
      <br><br><br><br><br>
      <h2 align="center"><font color="green">Thank you for the feedback</font></h2>
      <br>
      <h5 align="center"><font color="green">You may close this window</font></h5>
    </body>
  </html>
